.project {
	@media (min-width: $xl) {
		display: flex;
		justify-content: space-between;
	}

	&__background {
		@media (min-width: $xl) {
			flex-basis: 635px;
		}
	}

	&__button {
		grid-area: button;
		width: 178px;
	}

	&__categorie {
		display: block;
		font-size: 13px;
		line-height: 30px;
		color: $primary-light;

		@media (min-width: $xl) {
			margin-bottom: 16px;
		}
	}

	&__categories {
		grid-area: categories;
		margin-bottom: 24px;

		@media (min-width: $md) {
			margin-bottom: 16px;
		}

		@media (min-width: $xl) {
			margin-bottom: 32px;
		}
	}

	&__intro {
		position: relative;
		margin-bottom: 48px;
		padding-top: 24px;
		padding-bottom: 24px;

		@media (min-width: $md) {
			display: grid;
			grid-template-columns: 50% 50%;
			grid-template-areas: 'title paragraph' 'categories paragraph' 'button paragraph';
			margin-bottom: 40px;
			padding-top: 32px;
			padding-bottom: 32px;
		}

		@media (min-width: $xl) {
			display: block;
			align-self: flex-start;
			flex-basis: 350px;
			padding-top: 48px;
			padding-bottom: 48px;
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 1px;
			background-color: $primary-dark;
			opacity: 0.15;
		}

		&::before {
			top: 0;
			left: 0;
		}

		&::after {
			bottom: 0;
			left: 0;
		}
	}

	&__image {
		display: block;
		margin-bottom: 32px;
		line-height: 0;

		@media (min-width: $md) {
			margin-bottom: 0;
		}

		@media (min-width: $xl) {
			width: 540px;
		}
	}

	&__image-box {
		flex-basis: 49%;
	}

	&__paragraph {
		grid-area: paragraph;
		margin-bottom: 24px;
		color: rgba($primary-dark, 0.8);

		@media (min-width: $md) {
			margin-bottom: 35px;
			font-size: 15px;
		}

		@media (min-width: $xl) {
			margin-bottom: 24px;
			font-size: 16px;
		}

		&--primary {
			margin-bottom: 24px;
		}

		&--secondary {
			margin-bottom: 40px;
		}

		&--smaller {
			font-size: 15px;
		}
	}

	&__preview {
		display: block;
		line-height: 0;
	}

	&__preview-picture {
		display: block;
		margin-bottom: 32px;

		&:last-of-type {
			@media (min-width: $xl) {
				margin-bottom: 0;
			}
		}
	}

	&__subtitle {
		margin-bottom: 28px;
		line-height: 42px;

		@media (min-width: $xl) {
			margin-bottom: 28px !important;
		}

		&:last-of-type {
			margin-bottom: 40px;
		}
	}

	&__text {
		position: relative;
		margin-bottom: 72px;
		padding-top: 24px;
		padding-bottom: 24px;

		@media (min-width: $md) {
			flex-basis: 41%;
			margin-bottom: 0;
			padding-top: 32px;
			padding-bottom: 50px;
		}

		@media (min-width: $xl) {
			padding-top: 103px;
			padding-right: 92px;
			padding-bottom: 103px;
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 1px;
			background-color: $primary-dark;
			opacity: 0.15;
		}

		&::before {
			top: 0;
			left: 0;
		}

		&::after {
			bottom: 0;
			left: 0;
		}
	}

	&__title {
		grid-area: title;
		margin-bottom: 24px;

		@media (min-width: $md) {
			margin-bottom: 16px;
		}

		@media (min-width: $xl) {
			margin-bottom: 28px;
		}
	}
}

.project-switcher {
	margin-top: 64px;

	@media (min-width: $md) {
		margin-top: 80px;
	}

	@media (min-width: $xl) {
		margin-top: 64px;
	}

	&__box {
		display: flex;
		justify-content: space-between;
		position: relative;

		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 1px;
			background-color: $primary-dark;
			opacity: 0.15;
		}

		&::before {
			top: 0;
			left: 0;
		}

		&::after {
			bottom: 0;
			left: 0;
		}
	}

	&__column {
		flex-basis: 50%;
		position: relative;
		padding-top: 24px;
		padding-bottom: 24px;

		@media (min-width: $md) {
			display: flex;
			align-items: center;
			padding-top: 32px;
			padding-bottom: 32px;
		}

		&--left {
			text-align: left;

			&::after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				width: 1px;
				height: 100%;
				background-color: rgba($primary-dark, 0.15);
			}
		}

		&--right {
			text-align: right;
		}
	}

	&__info {
		&--right {
			@media (min-width: $md) {
				margin-left: auto;
			}
		}
	}

	&__link {
		flex-basis: 50%;
	}

	&__prev-next {
		color: rgba($primary-dark, 0.5);
	}

	&__prev-icon,
	&__next-icon {
		width: auto;
		height: 16px;
	}

	&__next-icon {
		@media (min-width: $md) {
			order: 2;
			padding-left: 32px;
		}
	}

	&__prev-icon {
		@media (min-width: $md) {
			padding-right: 32px;
		}
	}
}
