// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
	padding: 56px 0;
	color: $white;
	background-color: $primary-dark;

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 40px;

		@media (min-width: $md) {
			flex-direction: row;
		}
	}

	&__logo-box {
		@media (min-width: $md) {
			margin-right: calc(48px - 42px);
		}
	}

	&__logo-link {
		display: block;
		line-height: 0;
	}
}
