// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
	padding: 56px 0;
	color: $white;
	background-color: $primary-dark;

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 40px;
	}
}
