// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
	display: flex;
	justify-content: space-between;
	padding-top: 32px;
	padding-bottom: 40px;

	@media (min-width: $md) {
		padding-top: 64px;
		padding-bottom: 47px;
	}

	&__logo-link {
		display: block;
		line-height: 0;
	}

	&__menu {
		display: none;

		@media (min-width: $md) {
			display: block;
		}
	}

	&__mobile-menu-toggle {
		@media (min-width: $md) {
			display: none;
		}
	}
}
