.hero {
	position: relative;
	margin-bottom: 96px;

	&--project {
		margin-bottom: 40px;

		@media (min-width: $md) {
			margin-top: 47px;
		}

		@media (min-width: $xl) {
			margin-bottom: 115px;
		}
	}

	&__image {
		display: block;
	}

	&__text-box {
		@media (min-width: $md) {
			position: absolute;
			bottom: 0;
			left: 40px;
			width: 67%;
			background-color: $white;
		}

		@media (min-width: $xl) {
			width: 37.5%;
		}
	}

	&__title {
		margin-top: 24px;
		margin-bottom: 32px;
		font-size: 40px;
		line-height: 42px;
		letter-spacing: -0.35px;

		@media (min-width: $md) {
			margin: 56px 56px 48px 0;
		}

		@media (min-width: $xl) {
			margin-bottom: 53px;
			font-size: 50px;
			line-height: 50px;
			letter-spacing: -0.45;
		}
	}
}
