.project {
	@media (min-width: $md) {
		display: flex;
		gap: 69px;
		align-items: center;
		margin-bottom: 80px;

		&:first-of-type {
			margin-top: 47px;
		}
	}

	&__column {
		&--left {
			order: 1;
		}

		&--right {
			order: 2;
		}
	}

	&__image {
		display: block;
		margin-bottom: 32px;
		line-height: 0;

		@media (min-width: $md) {
			margin-bottom: 0;
		}
	}

	&__image-box {
		flex-basis: 49%;
	}

	&__paragraph {
		margin-bottom: 24px;

		@media (min-width: $md) {
			font-size: 15px;
		}
	}

	&__text {
		position: relative;
		margin-bottom: 72px;
		padding-top: 24px;
		padding-bottom: 24px;

		@media (min-width: $md) {
			flex-basis: 41%;
			margin-bottom: 0;
			padding-top: 32px;
			padding-bottom: 50px;
		}

		@media (min-width: $xl) {
			padding-right: 92px;
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 1px;
			background-color: $primary-dark;
			opacity: 0.15;
		}

		&::before {
			top: 0;
			left: 0;
		}

		&::after {
			bottom: 0;
			left: 0;
		}
	}

	&__title {
		margin-bottom: 24px;
	}
}
