// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.button {
	display: inline-block;
	padding: 17px 32px;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	border: 1px solid $primary-dark;
}
