// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Breakpoints

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// Colors

// Slightly Desaturated Cyan
$primary-light: #5fb4a2;
// Grayish Dark Blue
$primary-dark: #33323d;
// Dark Blue
$primary-darker: #203a4c;

// Very Light Grey (BG)
$secondary-lighter: #fafafa;
// Light Grey (Text field)
$secondary-light: #eaeaeb;
// Bright Red (Errors)
$primary-error: #f43030;

// Black
$black: #000;
// White
$white: #fff;

// Typography

// Ibarra Real Nova
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;500;600;700&display=swap');
// Public Sans
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Heading font / Ibarra Real Nova
$head-font: 'Ibarra Real Nova', serif;
// Body font / Public Sans
$body-font: 'Public Sans', sans-serif;

$main-transition: all 0.2s;
